bg-color = #efefef


// text
text-color = alpha(black, 87%)
text-disabled-color = alpha(black, 26%)

// theme
primary-color = #2B3A42
accent-color = #FF530D
color2 = #3F5765
color3 = #BDD4DE
color4 = #EFEFEF
